.searchBar-wrap{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(157, 159, 157);
    padding: 1.5rem 1rem;
}

.searchBar-icon{
    color: rgb(81, 80, 82);
    margin-right: 2rem;
}

.searchBar-wrap input{
    font-size: 1.5rem;
    outline:none;
    /* border:none; */
    width: 100;
}

.searchBar-wrap input::placeholder{
    color:rgb(185, 184, 184)
}